[submodule "rtl/std_protocol_if"]
	path = rtl/std_protocol_if
	url = https://github.com/mballance/std_protocol_if.git
	branch = master
[submodule "subprojects/std_protocol_if"]
	path = subprojects/std_protocol_if
	url = https://github.com/mballance/std_protocol_if.git
	branch = master
[submodule "subprojects/chisellib"]
	path = subprojects/chisellib
	url = https://github.com/mballance/chisellib.git
	branch = master
[submodule "chiselscripts"]
	path = chiselscripts
	url = https://github.com/mballance/chiselscripts.git
	branch = master
[submodule "ve/sv_bfms"]
	path = ve/sv_bfms
	url = https://github.com/mballance/sv_bfms.git
	branch = master
[submodule "simscripts"]
	path = simscripts
	url = https://github.com/mballance/simscripts.git
	branch = master
[submodule "subprojects/memory_primitives"]
	path = subprojects/memory_primitives
	url = https://github.com/mballance/memory_primitives.git
	branch = master
